@media (max-height: 263px) {
	.hero-text {
		display: none;
	}

}

@media (max-height: 345px) {
	.scroll {
		display: none;
	}

}

@media (min-width: 550px) {
	 .text {padding-top: 20px;}

	 .bio {
		padding-bottom: 100px;
	 }

	 #about-me {
	 	padding-top: 100px;
	 }

	 .screen {
	 	width: 100%;
	 }

	 .screen-IA {
	 	width: 70%
	 }

	 .atalogo {
		width: 60%;
	}

	footer ul {
		padding-left: 33%;
	}

	footer {
		padding-bottom: 150px;
		padding-top: 100px;
	}

	footer h2 {
		font-size: 22px;
		text-transform: uppercase;
	}

	footer ul a li {
		font-family: 'San Francisco', sans-serif;
		font-weight: 100;
		font-size: 20px;
	}
}

@media (min-width: 768px) {

	.abroad-logo {
		width: 300px;
	}
	
	.body-text {
		line-height: 200%;
		font-size: 15px;
	}

	h3 {
		font-size: 1.1em;
	}

	header {
		font-weight: 700;
		text-align: left;
		float: left;
		width: 170px;
		// padding-left: 60px;
		padding-top: 42px;
		font-size: 15px;
	}

	nav {
		display: block;
		text-align: right;
		width: 100%;
		// padding-right: 55px;
		padding-top: 42px;
	}

	nav ul {
		// padding-right: 53px;
	}


	.hero {
		padding-bottom: 50px;
	}

	.hero h2 {
		letter-spacing: 0px;
		letter-spacing: -.5px;
		padding: none;
		font-size: 50px;
		margin-top: 130px;
		font-weight: 700;
		line-height: 1s%;
	}

	.project-title {
		padding-top: 130px;
		padding-bottom: 0;
	}

	.project-title h2 {
		letter-spacing: 0px;
		letter-spacing: -.5px;
		padding: none;
		font-size: 50px;
		font-weight: 700;
		line-height: 150%;
	}

	.screen-container {
		padding-left: 70px;
		padding-top: 110px;
		padding-bottom: 100px;
	}

	.text {
		padding-top: 15%;
		padding-right: 100px;
		padding-bottom: 10%;
		padding-left: 0;
	}

	.description {
		line-height: 200%;
		font-size: 14px;
	}

	.row {
		margin: 0px 0 70px 0;
	}

	.colors {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	.colors div {
		width: 80px;
		height: 80px;
	}

	.colors div p {
		margin-top: 90px;
		font-size: 14px;
	}

	.venu-title {
		padding-left: 80px;
		letter-spacing: 80px;
	}

	.profile {
		margin-bottom: 50px;
		margin-top: 60px;
	}
}
