/*BASIC SHIT*/
@import url(http://nicholastodor.com/sf/usesf.css);
@font-face { font-family: Futura LT; src: url('FuturaLT-*.ttf'); } 

body {
	font-family: 'San Francisco', sans-serif;
	color: #222;
}

.body-text {
	font-family: 'San Francisco', sans-serif;
	line-height: 170%;
	font-size: 13px;
	margin-bottom: 50px;
}

a {
	text-decoration: none;
	color: #222;
}

h3 {
	color: #333;
	font-weight: 600;
	font-size: 1em;
	letter-spacing: .5px;
	margin-bottom: 10px;
}

nav a {
	font-size: 1em;
}

/*NAV AND HEADER*/

header {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.7em;
	padding-top: 30px;
}

nav {
	width: 100%;
	text-align: center;
	padding-top: 15px;
}

nav ul li {
	display: inline-block;
	font-size: 12px;
	padding: 0 0 0 7px;
	letter-spacing: 1px;
}

.hero {
	font-family: Futura LT, sans-serif;
	padding-top: 70px;
	padding-bottom: 20px;
	font-size: 60px;
}

.hero h2 {	
	font-weight: 400;
	font-size: 0.5em;
	line-height: 140%;
}

.venu {
	border-radius: 5px;
	background: #FF006D; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #FF559E ,#FF006D); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #FF559E ,#FF006D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */     
	box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.knowles {
	border-radius: 5px;
	background-color: #bf656a;
	box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.abroad {
	border-radius: 5px;
	background-color: #ff7449
	background: #FF512F; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #e77637 , #FF7449); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #e77637 , #FF7449); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	box-shadow: 0 1px 5px rgba(0,0,0,.15);
        
}

.trngle {
	border-radius: 5px;	
	background: #485563; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
	box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.ata {
	border-radius: 5px;	
	background-color: #01CDFF;
	background: #00d2ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #3a7bd5 , #00d2ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #3a7bd5 , #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.hostapup {
	border-radius: 5px;
	background-color: #60be78;
}

.row {
	margin: 0 0 50px 0;
}

.card {
	box-shadow: 8px 8px 30px -13px rgba(32, 32, 32, .7);
}
 
.text {
	padding: 10px 40px 40px 40px;
}

.title {
	color: white;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 15px;
	line-height: 150%;
	text-align: center;s
}

.description { 
	font-family: 'San Francisco', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 11px;
	line-height: 150%; 
	text-align: center;
	letter-spacing: 1px;
}

.columns {
	margin-top: 20px;
	margin-bottom: 20px;
}

.screen {
	display: block;
	width: 50%;
	margin: auto;
}

.center {
	text-align: center;
}

.underline:hover {
	text-decoration: underline;
}

hr {
	display: block;
	margin: auto;
	width: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	text-align: center;
	padding-bottom: 50px;
}

footer h2 {
	padding-bottom: 15px;
}

/************************************************************

ABROAD PAGE

**************************************************************/

.project-title {
	font-family: Futura LT, sans-serif;
	padding-top: 80px;
	margin-bottom: 40px;
	font-size: 60px;
}

.project-title h2 {
	font-weight: 400;
	font-size: 0.5em;
	line-height: 140%;
}

.abroad-logo {
	width: 200px;
	margin: auto;
	display: block;
	padding-top: 40px;
	padding-bottom: 20px;
}

.symbols {
	font-size: 0;
}

.one-third-frame {
	font-size: 0;
	width: 33.3333%;
	display: inline-block;
	margin: auto;
}

.symbol-title {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'San Francisco', sans-serif;
}

.color-and-type-abroad {
	width: 70%;
	margin: auto;
}

.color-and-type-abroad h3 {
	color: #ff7449;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

.fancy-border-abroad {
	list-style: none;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.fancy-border-abroad li {
	display: inline-block;
	width: 33.3333%;
	height: 7px;
}

.fancy-border-abroad li:nth-child(1) {
  background:#FF6037;
}

.fancy-border-abroad li:nth-child(2) {
  background:#FFA58C;
}

.fancy-border-abroad li:nth-child(3) {
  background:#FFD2C6;
}

.font-showcase-abroad {
	font-family: 'GT-Walsheim-Pro', sans-serif;
	font-size: 22px;
	line-height: 200%;
}

.orange {
	color: #FF6034;
}

.orange h3 {
	color: #FF6034;
}

.grey {
	color: #656565;
}

.font-showcase-abroad li:nth-child(1) {
	font-weight: 100;
}

.font-showcase-abroad li:nth-child(2) {
	font-weight: 400;
}

.font-showcase-abroad li:nth-child(3) {
	font-weight: 200;
}

.font-showcase-abroad li:nth-child(4) {
	font-weight: 100;
}

.evenly {
  display:flex;
  justify-content:space-between;
  text-align: center;
}
.evenly div {
  white-space:nowrap;
  background:gray;
}

.colors {
	margin-bottom: 40px;
}

.colors div {
	margin: 10px;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.colors div p {
	font-family: 'Helvetica Neue', sans-serif;
	margin-top: 50px;
	text-align: center;
	font-size: 12px;
}

.colors div:nth-child(1) {
	background-color: #FF6034;
	color: #FF6034;
}

.colors div:nth-child(2) {
	background-color: #656565;
	color: #656565;
}

.colors div:nth-child(3) {
	background-color: #979797;
	color: #979797;
}

.colors div:nth-child(4) {
	background-color: #cccccc;
	color: #cccccc;
}

.colors div:nth-child(5) {
	background-color: #f5f5f5;
	color: #cccccc;
}

.abroadapp-icon {
	width: 50px;
	margin: auto;
	display: block;
	border: 3px solid #FF6034;
	border-radius: 12px;
	padding: 10px 16px 10px 16px;
}

.app-preview h3 {
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: auto;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 4px;
	margin-top: 30px;
}

/************************************************************

VENU PAGE

**************************************************************/

.venu-paper {
	display: block;
	width: 60%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
}

.venu-img {
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#venu-logo {
	width: 250px;
}

.venu-title {
	text-transform: uppercase;
	font-size: 2em;
	color: #FB3F76;
	letter-spacing: 40px;
	padding-left: 40px;
	text-align: center;
	margin: auto;
	font-weight: bold;
	margin-bottom: 50px;
}

.color-and-type-venu {
	width: 70%;
	margin: auto;
}

.color-and-type-venu h3 {
	color: #FB3F76;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

.fancy-border-venu {
	list-style: none;
	margin: auto;
	padding-bottom: 5px;
}

.fancy-border-venu li {
	display: inline-block;
	width: 33.3333%;
	height: 7px;
}

.fancy-border-venu li:nth-child(1) {
  background:#FB3F76;
}

.fancy-border-venu li:nth-child(2) {
  background:#FBD9E3;
}

.fancy-border-venu li:nth-child(3) {
  background:#F5F5F5;
}

.font-showcase-venu {
	font-family: 'GT-Walsheim-Pro', sans-serif;
	font-size: 22px;
	line-height: 200%;
}

.radical-red {
	color: #FB3F76;
}

.mine-shaft {
	color: #333;
}

.font-showcase-venu li:nth-child(1) {
	font-weight: 100;
}

.font-showcase-venu li:nth-child(2) {
	font-weight: 400;
}

.font-showcase-venu li:nth-child(3) {
	font-weight: 200;
}

.font-showcase-venu li:nth-child(4) {
	font-weight: 100;
}

.container-venu {
	font-size: 0;
	position: relative;
 	width: 100%;
 	max-width: 960px;
  	margin: 0 auto;
	box-sizing: border-box;
}

.color-column-venu {
	font-size: 17px;
	text-align: center;
	display: inline-block;
	width: 25%;
	height: 200px;
	margin-bottom: 100px;
}

.container-venu .color-column-venu p {
	padding: 15px 5px 5px 5px;
}

.container-venu .color-column-venu:nth-child(1) {
	background-color: #333;
	color: #f5f5f5;
}

.container-venu .color-column-venu:nth-child(2) {
	background-color: #FB3F76;
	color: #FBD9E3;
}

.container-venu .color-column-venu:nth-child(3) {
	background-color: #FBD9E3;
	color:#FB3F76; 
}

.container-venu .color-column-venu:nth-child(4) {
	background-color: #f5f5f5;
	color:#333;
}

/************************************************************

ARTISTS TEACHING ART

**************************************************************/

.paint {
	display: block;
	margin: auto;
	height: 250px;
	padding: 10px 0 10px 0
}

.escher {
	display: block;
	margin: auto;
	height: 250px;
	padding: 10px 0 10px 0
}

.atalogo {
	display: block;
	margin: auto;
	width: 60%;
}
/************************************************************

TRNGLE

**************************************************************/

.gold {
	display: block;
	width: 25%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 30px;
}

.trngle-name {
	display: block;
	width: 20%;
	margin: auto;
	margin-bottom: 50px;
}

.color-and-type-trngle {
	width: 70%;
	margin: auto;
}

.color-and-type-trngle h3 {
	color: #333;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

.fancy-border-trngle {
	list-style: none;
	margin: auto;
	padding-bottom: 5px;
}

.fancy-border-trngle li {
	display: inline-block;
	width: 33.3333%;
	height: 1px;
}

.fancy-border-trngle li:nth-child(1) {
  background:#333;
}

.fancy-border-trngle li:nth-child(2) {
  background:#333;
}

.fancy-border-trngle li:nth-child(3) {
  background:#333;
}

.font-showcase-trngle {
	font-family: 'GT-Walsheim-Pro', sans-serif;
	font-size: 22px;
	line-height: 200%;
}

.trngle-yellow {
	color: #E6D669;
}

.trngle-yellow h3 {
	color: #E6D669;
}

.colors-trngle {
	margin-bottom: 40px;
}

.colors-trngle div {
	margin: 10px;
	width: 70px;
	height: 70px;
	display: inline-block;
}

.colors-trngle div p {
	font-family: 'Helvetica Neue', sans-serif;
	margin-top: 80px;
	text-align: center;
	font-size: 12px;
}

.colors-trngle div:nth-child(1) {
	margin-left: 0;
	background-color: #333333;
	color: #333333;
}

.colors-trngle div:nth-child(2) {
	background-color: #999;
	color: #999;
}

.colors-trngle div:nth-child(3) {
	background-color: #E6D669;
	color: #E6D669;
}

.colors-trngle div:nth-child(4) {
	background-color: #F56363;
	color: #F56363;
}

.colors-trngle div:nth-child(5) {
	margin-right: 0;
	background-color: #6FD400;
	color:#6FD400;
}

.trngleapp-icon {
	width: 80px;
	margin: auto;
	display: block;
	border: 3px solid #E6D669;
	background-color: #E6D669;
	border-radius: 12px;
	padding: 15px 12px 15px 12px;
}


/************************************************************

ABOUT PAGE

**************************************************************/

.profile {
	display: block;
	border-radius: 100%;
	width: 700px;
	margin: auto;
	margin-bottom: 40px;
}

.profile-container {
	margin-top: 50px;
	margin-bottom: 30px;
	height: 450px;
	width: 100%;
	background-image: url(../img/about/large-profile.jpg);
	background-image: no-repeat;
	background-position: center;
	background-size: cover;
}

.mail-link {
	font-weight: bold;
}

