/*BASIC SHIT*/
@import url(http://nicholastodor.com/sf/usesf.css);
@font-face { font-family: Futura LT; src: url('FuturaLT-*.ttf'); } 
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	color: #222;
}



.body-text {
	font-family: 'Open Sans', sans-serif;
	line-height: 170%;
	font-size: 14px;
	margin-bottom: 50px;
}

.animated-link {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 14px;
	letter-spacing: .2px;
	position: relative;
	text-decoration: none;
	padding-bottom: 3px;
}

.animated-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.animated-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a {
	text-decoration: none;
	color: #222;
}

h3 {
	color: #333;
	font-weight: 600;
	font-size: 1em;
	letter-spacing: .5px;
	margin-bottom: 10px;
}

.aside {
	padding-top: 10px;
}

nav a {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 14px;
	letter-spacing: .2px;
	position: relative;
	text-decoration: none;
	padding-bottom: 3px;
}

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*NAV AND HEADER*/

header {
	text-align: center;
	text-transform: capitalize;
	font-size: 17px;
	padding-top: 30px;
	padding-bottom: 3px;
}

nav {
	width: 100%;
	text-align: center;
	padding-top: 15px;
}

nav ul li {
	display: inline-block;
	font-size: 12px;
	padding: 0 5px 0 5px;
	letter-spacing: 1px;
}

.hero {
	padding-bottom: 20px;
}

.hero h2 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -.5px;	
	font-weight: 400;
	font-size: 30px;
	padding-top: 70px;
	line-height: 150%;
}

.ebay {
	border-radius: 5px;	
	background-color: #E43137;
    -webkit-transition: background .3s ease-out;  
    -moz-transition: background .3s ease-out;  
    -o-transition: background .3s ease-out;  
    transition: background .3s ease-out; 
}

.ebay:hover {
	background-color: #BE0B11;
}

.venu {
	border-radius: 5px;
	background: #FF006D;
	-webkit-transition: background .3s ease-out;  
    -moz-transition: background .3s ease-out;  
    -o-transition: background .3s ease-out;  
    transition: background .3s ease-out; 
}

.venu:hover {
	background: #D90047;
}

.venu-font {
	font-family: 'Avenir Next';
	font: italic;
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
}

.knowles {
	border-radius: 5px;
	background-color: #bf656a;
	box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.abroad {
	border-radius: 5px;	
	background-color: #FF6233;
	-webkit-transition: background .3s ease-out;  
    -moz-transition: background .3s ease-out;  
    -o-transition: background .3s ease-out;  
    transition: background .3s ease-out; 
}

.abroad:hover {
	background-color: #D93C0D;
}

.abroad-font {
	font-family: 'GT-Walsheim-Pro', sans-serif;
	font-weight: 200;
	font-size: 20px;
	text-align: center;
	color: white;
	letter-spacing: 3px;
	padding-left: 3px;
	padding-bottom: 10px;
}

.trngle {
	border-radius: 5px;	
	background: #F29F1D;
	-webkit-transition: background .3s ease-out;  
    -moz-transition: background .3s ease-out;  
    -o-transition: background .3s ease-out;  
    transition: background .3s ease-out; 
}

.trngle:hover {
	background: #CC7900;
}

.ata {
	border-radius: 5px;	
	background-color: #09C4F8;
	-webkit-transition: background .3s ease-out;  
    -moz-transition: background .3s ease-out;  
    -o-transition: background .3s ease-out;  
    transition: background .3s ease-out; 
}

.ata:hover {
	background-color: #009ED2;
}

.ata-font {
	font-family: 'Futura-condensed', sans-serif;
	font-weight: 200;
	font-size: 20px;
	text-align: center;
	color: white;
	letter-spacing: 3px;
	padding-left: 3px;
	padding-bottom: 10px;
}

.vacca {
	border-radius: 5px;
	background: #68316A;
	-webkit-transition: background .3s ease-out;  
    -moz-transition: background .3s ease-out;  
    -o-transition: background .3s ease-out;  
    transition: background .3s ease-out; 
}

.vacca:hover {
	background: #420B44;
}

.vacca-pres {
	position: absolute;
	width: 100%;
}

.hostapup {
	border-radius: 5px;
	background-color: #60be78;
}

.row {
	margin: 0 0 50px 0;
}

.card {
	box-shadow: 8px 8px 30px -13px rgba(32, 32, 32, .7);
}
 
.text {
	padding: 10px 40px 40px 40px;
}

.title {
	color: white;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 20px;
	line-height: 150%;
	text-align: center;
}


.description { 
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 13px;
	line-height: 175%; 
	text-align: left;
	letter-spacing: 1px;

}

.columns {
	// margin-top: 20px;
	// margin-bottom: 20px;
}

.screen {
	display: block;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.screen-IA {
	display: block;
	width: 100%;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 100px;
}

.center {
	text-align: center;
}

.small-margin {
	margin: 5px;
}

.underline:hover {
	text-decoration: underline;
}

hr {
	display: block;
	margin: auto;
	width: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	font-family: 'Montserrat', sans-serif;
	background-color: #232526;
	color: white;
	font-size: 20px;
	padding: 20px 0 50px 0;
}

footer ul a li {
	color: white;
	font-size: 14px;
	padding: 15px 0 15px 0;
	font-weight: 400;
	letter-spacing: 1px;
}

footer h2 {
	padding: 50px 0 20px 0;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 1px; 
	font-size: 20px;
	line-height: 150%;
}

/************************************************************

ABROAD PAGE

**************************************************************/

.project-title {
	font-family: 'Montserrat', sans-serif;
	padding-top: 80px;
	margin-bottom: 20px;
	font-size: 60px;
}

.project-title h2 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -.5px;	
	font-weight: 400;
	font-size: 30px;
	line-height: 150%;
}

.abroad-logo {
	width: 200px;
	margin: auto;
	display: block;
	padding-top: 40px;
	padding-bottom: 20px;
}

.symbols {
	font-size: 0;
}

.one-third-frame {
	font-size: 0;
	width: 33.3333%;
	display: inline-block;
	margin: auto;
}

.symbol-title {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

.color-and-type-abroad {
	width: 70%;
	margin: auto;
}

.color-and-type-abroad h3 {
	color: #ff7449;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

.fancy-border-abroad {
	list-style: none;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.fancy-border-abroad li {
	display: inline-block;
	width: 33.3333%;
	height: 7px;
}

.fancy-border-abroad li:nth-child(1) {
  background:#FF6037;
}

.fancy-border-abroad li:nth-child(2) {
  background:#FFA58C;
}

.fancy-border-abroad li:nth-child(3) {
  background:#FFD2C6;
}

.font-showcase-abroad {
	font-family: 'GT-Walsheim-Pro', sans-serif;
	font-size: 22px;
	line-height: 200%;
}

.orange {
	color: #FF6034;
}

.orange h3 {
	color: #FF6034;
}

.grey {
	color: #656565;
}

.font-showcase-abroad li:nth-child(1) {
	font-weight: 100;
}

.font-showcase-abroad li:nth-child(2) {
	font-weight: 400;
}

.font-showcase-abroad li:nth-child(3) {
	font-weight: 200;
}

.font-showcase-abroad li:nth-child(4) {
	font-weight: 100;
}

.evenly {
  display:flex;
  justify-content:space-between;
  text-align: center;
}
.evenly div {
  white-space:nowrap;
  background:gray;
}

.colors {
	margin-bottom: 40px;
}

.colors div {
	margin: 10px;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.colors div p {
	font-family: 'Helvetica Neue', sans-serif;
	margin-top: 50px;
	text-align: center;
	font-size: 12px;
}

.colors div:nth-child(1) {
	background-color: #FF6034;
	color: #FF6034;
}

.colors div:nth-child(2) {
	background-color: #656565;
	color: #656565;
}

.colors div:nth-child(3) {
	background-color: #979797;
	color: #979797;
}

.colors div:nth-child(4) {
	background-color: #cccccc;
	color: #cccccc;
}

.colors div:nth-child(5) {
	background-color: #f5f5f5;
	color: #cccccc;
}

.abroadapp-icon {
	width: 50px;
	margin: auto;
	display: block;
	border: 3px solid #FF6034;
	border-radius: 12px;
	padding: 10px 16px 10px 16px;
}

.app-preview h3 {
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin: auto;
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
}

/************************************************************

VENU PAGE

**************************************************************/

.venu-paper {
	display: block;
	width: 60%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 50px;
}

.venu-img {
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

#venu-logo {
	width: 250px;
}

.venu-title {
	text-transform: uppercase;
	font-size: 2em;
	color: #FB3F76;
	letter-spacing: 40px;
	padding-left: 40px;
	text-align: center;
	margin: auto;
	font-weight: bold;
	margin-bottom: 50px;
}

.color-and-type-venu {
	width: 70%;
	margin: auto;
}

.color-and-type-venu h3 {
	color: #FB3F76;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

.fancy-border-venu {
	list-style: none;
	margin: auto;
	padding-bottom: 5px;
}

.fancy-border-venu li {
	display: inline-block;
	width: 33.3333%;
	height: 7px;
}

.fancy-border-venu li:nth-child(1) {
  background:#FB3F76;
}

.fancy-border-venu li:nth-child(2) {
  background:#FBD9E3;
}

.fancy-border-venu li:nth-child(3) {
  background:#F5F5F5;
}

.font-showcase-venu {
	font-family: 'GT-Walsheim-Pro', sans-serif;
	font-size: 22px;
	line-height: 200%;
}

.radical-red {
	color: #FB3F76;
}

.mine-shaft {
	color: #333;
}

.font-showcase-venu li:nth-child(1) {
	font-weight: 100;
}

.font-showcase-venu li:nth-child(2) {
	font-weight: 400;
}

.font-showcase-venu li:nth-child(3) {
	font-weight: 200;
}

.font-showcase-venu li:nth-child(4) {
	font-weight: 100;
}

.container-venu {
	font-size: 0;
	position: relative;
 	width: 100%;
 	max-width: 960px;
  	margin: 0 auto;
	box-sizing: border-box;
}

.color-column-venu {
	font-size: 17px;
	text-align: center;
	display: inline-block;
	width: 25%;
	height: 200px;
	margin-bottom: 100px;
}

.container-venu .color-column-venu p {
	padding: 15px 5px 5px 5px;
	font-size: 14px;
}

.container-venu .color-column-venu:nth-child(1) {
	background-color: #333;
	color: #f5f5f5;
}

.container-venu .color-column-venu:nth-child(2) {
	background-color: #FF006E;
	color: #FBD9E3;
}

.container-venu .color-column-venu:nth-child(3) {
	background-color: #FBD9E3;
	color:#FB3F76; 
}

.container-venu .color-column-venu:nth-child(4) {
	background-color: #f5f5f5;
	color:#333;
}

/************************************************************

ARTISTS TEACHING ART

**************************************************************/

.paint {
	display: block;
	margin: auto;
	height: 250px;
	padding: 10px 0 10px 0
}

.escher {
	display: block;
	margin: auto;
	height: 250px;
	padding: 10px 0 10px 0
}

.atalogo {
	display: block;
	margin: auto;
	margin-bottom: 50px;
	width: 80%;
}
/************************************************************

TRNGLE

**************************************************************/

.gold {
	display: block;
	width: 25%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 30px;
}

.trngle-name {
	display: block;
	width: 20%;
	margin: auto;
	margin-bottom: 50px;
}

.color-and-type-trngle {
	width: 70%;
	margin: auto;
}

.color-and-type-trngle h3 {
	color: #333;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #E5DB61;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

.font-showcase-trngle li:nth-child(1) {
	font-weight: 200;
}

.font-showcase-trngle li:nth-child(2) {
	font-weight: 400;
}

.font-showcase-tngle li:nth-child(3) {
	font-weight: 200;
}

.font-showcase-trngle li:nth-child(4) {
	font-weight: 100;
}

.fancy-border-trngle {
	list-style: none;
	margin: auto;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.fancy-border-trngle li {
	display: inline-block;
	width: 33.3333%;
	height: 7px;
}

.fancy-border-trngle li:nth-child(1) {
  background:#E5DB61;
}

.fancy-border-trngle li:nth-child(2) {
  background:#EFE9A0;
}

.fancy-border-trngle li:nth-child(3) {
  background:#F5F1C0;
}

.font-showcase-trngle {
	font-family: 'GT-Walsheim-Pro', sans-serif;
	font-size: 22px;
	line-height: 200%;
}

.trngle-yellow {
	color: #E6D669;
}

.trngle-yellow h3 {
	color: #E6D669;
}

.colors-trngle {
	margin-bottom: 40px;
}

.colors-trngle div {
	margin: 10px;
	width: 70px;
	height: 70px;
	display: inline-block;
}

.colors-trngle div p {
	font-family: 'Helvetica Neue', sans-serif;
	margin-top: 80px;
	text-align: center;
	font-size: 12px;
}

.colors-trngle div:nth-child(1) {
	margin-left: 0;
	background-color: #333333;
	color: #333333;
}

.colors-trngle div:nth-child(2) {
	background-color: #999;
	color: #999;
}

.colors-trngle div:nth-child(3) {
	background-color: #E6D669;
	color: #E6D669;
}

.colors-trngle div:nth-child(4) {
	background-color: #F56363;
	color: #F56363;
}

.colors-trngle div:nth-child(5) {
	margin-right: 0;
	background-color: #6FD400;
	color:#6FD400;
}

.trngleapp-icon {
	width: 80px;
	margin: auto;
	display: block;
	border: 3px solid #E6D669;
	background-color: #E6D669;
	border-radius: 12px;
	padding: 15px 12px 15px 12px;
}


/************************************************************

ABOUT PAGE

**************************************************************/

.bio-photo {
	display: block;
	width: 100%;
	border-radius: 100%;
	border: 1px solid #ccc;
	margin: auto;
	margin-bottom: 20px;
}


.mail-link {
	font-weight: bold;
}

.bullet {
	list-style-type: circle;
}
