/*BASIC SHIT*/

@font-face {
	font-family: 'AkzidenzGrotesk';
	src: url('../fonts/AkzidenzGrotesk-Light.otf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGrotesk';
	src: url('../fonts/AkzidenzGrotesk-Regular.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AkzidenzGrotesk';
	src: url('../fonts/AkzidenzGrotesk-Bold.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Book.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
	font-family: 'AkzidenzGrotesk', sans-serif;
	color: black;
}

hr {
  width: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: 'Avenir';
  font-weight: 700;
  font-size: 25px;
  text-align: left;
}

h2 {
  text-transform: uppercase;  
  font-size: 10px;
  padding-bottom: 10px;
  letter-spacing: .5px;
}

h3 {
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 10px;
}

p {
	font-family: 'Avenir', sans-serif;
  color: #777;
  font-weight: 100;
	line-height: 150%;
	font-size: 13px;
	margin-bottom: 20px;
}

.photo {
  border-radius: 100%;
  width: 125px;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}

.intro {
  margin-right:0;
}

.bio {
  margin-top: 50px;
  margin-bottom: 50px;
}

header {
	margin-top: 30px;
	margin-bottom: 50px;
}

header h1 {
  text-align: center;
  padding-bottom: 10px;
  display: block;
  margin: auto;
}

header ul {
	display: flex;
	justify-content: center;
}

header ul a {
	font-size: 20px;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
}

i:first-child {
	padding-left: 0;
}

i {
	padding: 0 5px 0 5px;
	transition: all .1s;
}

.fa-envelope-o:hover {
	color: #D74A38;
}

.fa-instagram:hover {
	color: #BD2AAA;
}

.fa-behance:hover {
	color: #005CFF;
}

.fa-linkedin:hover {
	color: #007bb6;
}

.fa-facebook-official:hover {
	color: #3b5998;
}

/*CONTENT PREVIEW*/

.row-gutter {
  margin-bottom: 100px;
}

.row-double-gutter {
  margin-bottom: 200px;
}

.columns-override:first-child {
  margin-left: 0;
}

.text-box {
  margin-top: 20px;
  margin-bottom: 50px;
}

.text-box h1 {
  padding-top: 10px;
}

.text-box h1, h2 {
  text-align: center; 
}

.Grid-item {
  display: block;
  position: relative;
  width: 100%;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: .4s;
}

.Grid-item:hover .overlay {
  opacity: 1;
}

.ebay {
	background-color: rgba(0, 174, 239, 0.7);
}

.stockt {
	background-color: rgba(0, 0, 0, .7);
}

.abroad {
	background-color: rgba(255, 98, 51, .7);
}

.trngle {
	background-color: rgba(225, 209, 104, .7);
}

.coffee {
	background-color: rgba(50, 19, 19, .7);
}

.karma {
	background-color: rgba(255, 58, 58, .7);
}

.venu {
	background-color: rgba(255, 0, 109, .6)
}

.artiststeachingart {
	background-color: rgba(0, 174, 244, .6)
}

.vacca {
	background-color: rgba(80, 80, 80, .6)
}

footer {
	margin-top: 100px;
	height: 250px;
	background-color: #f5f5f5;
}

footer ul {
  padding-top: 40px;
  width: 300px;
  margin: auto;
}

footer ul li {
  font-size: 16px; 
  font-weight: 100;
  padding: 5px;
  margin-top: 20px;
  display: inline-block;
  color: #A6A6A6;
}

footer ul a li:hover {
  color: black;
  transition: .4s;
}

#active {
  color: black !important;
}

/* OTHER PAGES */

.bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10px;
    opacity: .5;
}

.title {
  font-size: 40px;
  text-align: left !important;
}

.screen {
  width: 80%;
  margin-left: 10%;
}


.img-full-width {
  width: 100%;
}

#arrow {
  fill: black;
}

.arrow {
  vertical-align: middle;
  display: inline-block;
  width: 15px;
  margin-right: 3px;
}

.arrow-label {
    color: black;
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 100;
    text-transform: capitalize;
}

@media (min-width: 62rem) {
  .text-grid-item {
    width: 31.333333333%;
  }
  .text-grid-item:not(:nth-child(3n)) {
     margin-right: 2%;
  }
}

.display-text {
  margin-top: 25px;
}

.bullet {
  text-indent:2em;
  list-style-type:disc;
  display:list-item; 
}
